body {
    background-color: #79614d;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container {
    background: #ffffff;
    width:90%;
    margin: auto;
    position: relative;
    top: 20%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    border-radius: 12px;
    padding: 20px 20px;
}
.img-box {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img {
    height: auto;
    width: 100%;
}
.content {
    border: 1px solid #fae6e8;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px 20px;
    max-width: 100%;
    min-width: fit-content;
}
h1 {
    color: #3B7860;
    text-align: center;
    font-size: 3rem;
}
h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
    margin: unset;
    text-transform: capitalize;
    color: #3B7860;
}
button {
    background-color: unset;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    background-color: #3B7860;
    border: unset;
    border-radius: 8px;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 5px;
    cursor: pointer;
}
input {
    width: 80%;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #3B7860;
    border-radius: 8px;

}

.btn-groub {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 6px;
    justify-content: flex-start;
}

